
	<header id="header">
		<hgroup>
				<h1 class="site_title"><a href="index.html">Riob.us - Relatórios</a></h1>
			<h2 class="section_title"><%= title %></h2><div class="btn_view_site"></div>
		</hgroup>
	</header> <!-- end of header bar -->

	<aside id="sidebar" class="column">
		<h3><a href="#">2015.1</a></h3>
		<ul class="toggle">
			<li>&nbsp;</li>
            <li><a href="/km_bar_carioca">Tamanho das rotas</a></li>

            <li>&nbsp;</li>
            <li><a href="/kmrodado">Km rodados </a></li>
            <li>&nbsp;</li>
			 <li><a href="/nOnibus">Número de ônibus por faixa de horário </a></li>
            <li>&nbsp;</li>
		</ul>
		<h3><a href="#">Antigos</a></h3>
		<ul class="toggle">
			 <li>&nbsp;</li>
			<li><a data-input-id="empty-lines">Ônibus sem linha </a></li>
             <li>&nbsp;</li>
			<li><a data-input-id="lines-with-no-buses">Linhas sem ônibus circulando </a></li>
             <li>&nbsp;</li>
			<li><a data-input-id="stopped">Ônibus parados </a></li>
             <li>&nbsp;</li>
			<li><a data-input-id="outdated-gps">GPS desatualizado </a></li>
			 <li>&nbsp;</li>
			<li><a data-input-id="line-counter-by-bus">Linhas por quantidade de ônibus </a></li>
             <li>&nbsp;</li>
			<li><a data-input-id="buses-by-speed">Ônibus por faixa de velocidade </a></li>
             <li>&nbsp;</li>
			<li><a data-input-id="show-map">Localização das Garagens </a></li>
			 <li>&nbsp;</li>
			<li><a data-input-id="show-graph1">Média de velocidade por região </a></li>
			 <li>&nbsp;</li>
            <li><a data-input-id="bus-on-map">Trajetos Onibus </a></li>

		</ul>

		<footer>
			<hr />
		</footer>
	</aside><!-- end of sidebar -->