<body>
<div id="dvLoading" ></div>
<div class="row" style="height: 100%;">
	<div class="col-md-2 menu">
		<ul role="menu">
			<li><h3>RELATÓRIOS</h3></li>
			<li>&nbsp;</li>
			<li><a id="km-run">Kilômetros rodados </a><span class="label label-warning">novo</span></li>
			<li>&nbsp;</li>
			<li><a data-input-id="km-working">Ônibus funcionando </a><span class="label label-warning">novo</span><span class="label label-info">24h</span></li>
			<li>&nbsp;</li>
			<li><a data-input-id="empty-lines">Ônibus sem linha </a></li>
			<li>&nbsp;</li>
			<li><a data-input-id="lines-with-no-buses">Linhas sem ônibus circulando </a></li>
			<li>&nbsp;</li>
			<li><a data-input-id="stopped">Ônibus parados </a></li>
			<li>&nbsp;</li>
			<li><a data-input-id="outdated-gps">GPS desatualizado </a></li>
			<li>&nbsp;</li>
			<li><a data-input-id="line-counter-by-bus">Linhas por quantidade de ônibus </a></li>
			<li>&nbsp;</li>
			<li><a data-input-id="buses-by-speed">Ônibus por faixa de velocidade </a></li>
			<li>&nbsp;</li>
			<li><a data-input-id="show-map">Localização das Garagens </a></li>
			<li>&nbsp;</li>
			<li><a data-input-id="show-graph1">Média de velocidade por região </a></li>
			<li>&nbsp;</li>
			<li><a data-input-id="bus-on-map">Trajetos Onibus </a></li>
		</ul>
	</div>